<nz-layout>
    <nz-sider class="sidebar" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
      <div class="logo"></div>
      <ul  nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item  class="menu-item">
          <i nz-icon nzType="file"></i>
          <span>Home</span>
        </li>
        <li nz-menu-item  *ngFor="let catalogItem of catalogItems"
         class="menu-item" 
          [class.actived]="catalogItem.isActive">
          <i nz-icon nzType="file" ></i>
          <span>{{catalogItem.name}}</span>
        </li>
        <p class="hashTag" *ngIf="!isCollapsed" > 
           <span  *ngFor="let item of items" (click)="addNewItem(item.name,item.id)">#{{item.name}}</span>
        </p>
        
      </ul>
    </nz-sider>
    <nz-layout class="content">
      <nz-header>
        <i
          class="trigger"
          nz-icon
          [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          (click)="isCollapsed = !isCollapsed"
        ></i>
      </nz-header>
      <nz-content>
        
        <div class="inner-content">
  
          <app-cards></app-cards>
            
          
        </div>
      </nz-content>
      <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
    </nz-layout>
  </nz-layout>