
<p>{{keyword}}</p>
<div class="cards" nz-row [nzGutter]="8" *ngIf="news">
  
  <div *ngFor="let n of news.data"  >
    <!-- card -->
    <nz-card class="card" nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta nzTitle='{{n.title}}' nzDescription="{{n.description}}"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate >
      <img alt="example" src="{{n.image}}" />
    </ng-template>
  </div>

</div>
<br>

<nz-pagination [nzPageIndex]="page.currentPage" [nzTotal]="page.total" (nzPageIndexChange)="pagination($event)"></nz-pagination>