.cards{
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.card{
    
    width:250px;
    height: 400px;
    margin: 10px 20px;
    position: relative;
    z-index: 2;
    overflow-y: scroll;
}

.card::-webkit-scrollbar{
    display: none;
}

.card img{
    height: 250px;
}
.box{
    background: blue;
}

@media(max-width:320px){
    .card{
        width:200px;
    }
}
